<template>
  <div>
    <div v-for="order in orders" class="order">
      Order #{{ order.order_id }} ({{ order.created }})
      <step-progress :steps="steps" :current-step="parseInt(order.status) + 1"></step-progress>
    </div>
  </div>
</template>

<script>
  import StepProgress from 'vue-step-progress';
  import 'vue-step-progress/dist/main.css';

  export default {
    name: 'CustomerOrders',
    components: {
      StepProgress
    },
    data() {
      return {
        orders: {},
        steps: ['Created', 'Cooking', 'Delivery', 'Completed']
      }
    },
    computed: {
      customerId: {
        get: function() {
          return CUSTOMER_ID;
        }
      }
    },
    mounted() {
      CUSTOMER_ORDERS.forEach((order) => {
        const orderId = order.order_id.toString();
        this.$set(this.orders, orderId, order);
      });
      this.$connect('ws://127.0.0.1:2346/?customer_id=' + this.customerId);
      this.$options.sockets.onmessage = (data) => {
        let statusChangeData = JSON.parse(data.data);
        const orderId = statusChangeData.order_id.toString();
        const status = parseInt(statusChangeData.status);
        this.$set(this.orders[orderId], 'status', status);
      };
    }
  }
</script>

<style scoped>
  .order {
    padding-bottom: 40px;
  }
</style>
